.row_container {
	margin-top:2em;
	border:1px solid #CCC;
	background-color:white;
	border-radius:5px;
}

@media (min-width: 992px) {
	.hot_row {
        height:60em;
    }
}
@media (min-width: 1200px) {
    .hot_row {
        height:30em;
    }
}



.hot_box {
	margin-top:2em;
	height:25em;
	border:1px solid #CCC;
	border-radius:3px;
}

.hot_news_ul {
	padding:0;
	list-style:none;
	text-align:left;
}

.hot_news_ul li{
	background:url(/static/images/icons/article.png) no-repeat 1em center;
    padding:1em;;
    list-style:none;
    border-bottom:1px solid #EEE;

}

.hot_news_ul li span{
	font-weight:bold;
    font-size:1.2em;
    margin-left:2.8em;
}
