
body {
    margin: 0;
    background-color: #DFDFDF;
}
#container {
    text-align: center;
}
/*测试边框位置用*/
.debug div {
	border:1px solid red;
}
div {
	font-size:12px;
}
/*input输入框样式*/
.input_focus {
	outline-color:#84C2FF;
}
/*全局span样式*/
span {
    font-size:12px;
}
/*标签样式*/
.label_tag {
    display:inline-block;
}
.transparent_30 {
    opacity: .3;
    filter: alpha(opacity=30);
    -moz-opacity: .3;
    -khtml-opacity: .3;
}
.transparent_90 {
    opacity: .9;
    filter: alpha(opacity=90);
    -moz-opacity: .9;
    -khtml-opacity: .9;
}
.transparent_97 {
    opacity: .97;
    filter: alpha(opacity=97);
    -moz-opacity: .97;
    -khtml-opacity: .97;
}
.w60 {
	width:60px;
}



#left_crumbs {
    position: fixed;
    width: 100px;
    height: 100%;
    background-color: white;
}
#left_crumbs ul {
    margin: 0;
    padding: 0;
}
#left_crumbs ul li {
    line-height: 170px;
    height: 100px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    border-bottom: 2px solid #666;
    background-repeat: no-repeat;
}
#left_crumbs ul li:hover {
    line-height: 180px;
    color: white;
    border-top: 3px solid #666;
    border-left: 3px solid #666;
    background-color: #76ddff;
}
.font_w900 {
    font-weight: 900;
}
#li_login {
    background-image: url('/static/images/common/login_icon.png');
}
#li_login:hover {
    background-image: url('/static/images/common/login_icon_h.png');
}
#li_setting {
    background-image: url('/static/images/common/setting_icon.png');
}
#li_setting:hover {
    background-image: url('/static/images/common/setting_icon_h.png');
}
#li_signup {
    background-image: url('/static/images/common/signup_icon.png');
}
#li_signup:hover {
    background-image: url('/static/images/common/signup_icon_h.png');
}
